<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='UTF-8'>
  <title></title>
</head>
<body>
  <iframe src='./components/header.html' frameborder='0'>
  <iframe src='./other/user_setting.html' frameborder='0'>
    <iframe src='./components/inputform.html' frameborder='0'></iframe>
  </iframe>
</body>
</html>
